<form action="">
  <div class="row">
    <div class="col-md">
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="student.name">
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <input type="number"  class="form-control" placeholder="Rollno" [(ngModel)]="student.rollno">
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <button class="btn btn-primary" (click)="add()" >add</button>
    </div>
  </div>
</form>

{{students  | json}}