<div class="container wt-3 p-5 shadow">
    <div class="row">
        <div class="col-md">
        <label for="">name</label>
        <input type="text" name="name" id="Name" placeholder="Name" class="form-control" [(ngModel)]="user.name">
    </div>   
  </div>
  <div class="row">
    <div class="col-md">
    <label for="">rollno</label>
    <input type="number" name="rollno" id="rollno" placeholder="rollno " class="form-control" [(ngModel)]="user.rollno">
   </div>   
   </div>
  <div class="row">
    <div class="col-md">
    <label for="">email</label>
    <input type="text" name="email" id="Email" placeholder="Email" class="form-control"  [(ngModel)]="user.email">
  </div>   
  </div>
  <button class="btn btn-primary" (click)="add()">add</button>
</div>
{{users | json}}

<div
    class="table-responsive"
>
    <table
        class="table table-primary"
    >
        <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">rollno</th>
                <th scope="col">email</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td >{{u.name}}</td>
                <td>{{u.rollno}}</td>
                <td>{{u.email}}</td>
                <td>
                    <button class="btn btn-primary" >update</button>
                    <button class="btn btn-primary" (click)="deleteuser(u.id)">detete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
